<main>
<h2>Your Profile</h2>
<section>
    <div class='profile'>
        <h3><b name = "username" class = 'profile-dets'>Username: {{user.username}}</b></h3>
        <img class = 'profile-dets' src="https://cdn.discordapp.com/attachments/1011800990669864990/1103921595464024185/image.png" alt="">
        <h4><i name = "email" class = 'profile-dets'>Email: {{user.email}}</i></h4>
    </div>
    
    
    <div class="user-posts">
        <summary> <b>Post History</b> </summary>
        <div class="profile-post-list">
            {{#each posts}}
                <div class="vid-card">
                    <img src="/{{thumbnail}}" alt="Thumbnail">
                    <div class="vid-card-container">
                        <h3 class="vid-title"> <b>{{title}}</b>  </h3>
                        <a href="/posts/{{id}} ">View Post</a>

                        {{!-- <button type="submit" formaction="/delete/{{id}}">Delete Post</button> --}}
                        <form action="/posts/delete/{{id}}" method="DELETE">
                            <input type="submit" name= 'deleteThis' class='delete-button' value="Delete Post">
                        </form>
                    </div>
                </div>
            {{/each}}
        </div>
    </div>
        
    
</section>
</main>